<!DOCTYPE html>
<html lang="en">
<head>

    <%- include ("../../partials/head.ejs") %>

    <title>My Profile</title>
</head>
<body>
 
    <%- include ("../../partials/header.ejs") %>

    <%- include ("../../partials/bubble.ejs") %>

    <div class="wrapper-profile">

        

    </div>

</body>
</html>