<!DOCTYPE html>
<html lang="en">
<head>

    <%- include ("../../partials/head.ejs") %>

    <title>Update Password</title>
</head>
<body>

    <%- include ("../../partials/header.ejs") %>
    <%- include ("../../partials/bubble.ejs") %>

    <div class="wrapper-updatePassword">

        <form method="post" action="/password/update?_method=PUT">
            <h3>Update Password</h3>
                <input class="form-control" type="password" name="oldPassword" required placeholder="Old Password">
                <input class="form-control" type="password" name="newPassword" required placeholder="New Password">
                <input class="form-control" type="password" name="confirmPassword" required placeholder="Confirm Password">
                <button type="submit" class="btn btn-sm">Change</button>
                <a href="/me" class="btn btn-link btn-sm">Back profile</a>
        </form>

    </div>

    <%- include ("../../partials/message.ejs") %>

</body>
</html>