<div class="wrapper-bubble">
    <div class="bubble">
        <a href="/" title="Home"><img src="/images/blue-laptop-icon.png"></a>
    </div>
    <div class="bubble-sm" title="orders">
        <a href="#"><h4 class="text-center"><i class="bi bi-card-list"></i></h4></a>
    </div>
    <div class="bubble-sm" title="profile">
        <a href="/me"><h4 class="text-center"><i class="bi bi-person-fill"></i></h4></a>
    </div>
    <div class="bubble-sm" title="cart">
        <a href="#"><h4 class="text-center"><i class="bi bi-basket-fill"></i></h4></a>
    </div>
    <div class="bubble-sm" title="logout">
        <a href="/logout"><h4 class="text-center"><i class="bi bi-box-arrow-right"></i></h4></a>
    </div>
</div>
<div class="wrapper-cover"></div>