<footer class="row">
    <div class="left-footer col-3">
        <h4>Download our app</h4>
        <p>Download App for Android and IOS mobile phone</p>

    </div>

    <div class="middle-footer col-6">
        <h1>LapStore</h1>
        <p>High Quality is our first priority</p>
        <p>Copyrights 2021</p>
    </div>

    <div class="rigth-footer col-3">
        <h4>Follow Us</h4>
        <a href="#">Instagram</a>
        <a href="#">Youtube</a>
        <a href="#">Facebook</a>
    </div>
</footer>