<h1 class="menu-icon"><i class="bi bi-list"></i></h1>
<header>
    <h1 class="close-icon"><i class="bi bi-x-lg"></i></h1>
    <ul class="nav justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="/"><h1>LapStore</h1></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-4" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-search"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" class="cart" href="/cart"><i class="bi bi-basket-fill"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login"><i class="bi bi-person-circle"></i></a>
        </li>
      </ul>

    </div>
</header>