<div class="wrapper-bubble">
    <div class="bubble">
        <a href="/" title="Home"><img src="/images/blue-laptop-icon.png"></a>
    </div>
    <div class="bubble-sm" title="orders">
        <a href="/admin/orders"><h4 class="text-center"><i class="bi bi-card-list"></i></h4></a>
    </div>
    <div class="bubble-sm" title="users">
        <a href="/admin/users"><h4 class="text-center"><i class="bi bi-person-fill"></i></h4></a>
    </div>
    <div class="bubble-sm" title="products">
        <a href="/admin/products" ><h4 class="text-center"><i class="bi bi-laptop"></i></h4></a>
    </div>
    <div class="bubble-sm" title="brands">
        <a href="/admin/brands"><h4 class="text-center"><i class="bi bi-book"></i></h4></a>
    </div>
    <div class="bubble-sm" title="Report">
        <a href="/admin/report/topSell"><h4 class="text-center"><i class="bi bi-bar-chart-line-fill"></i></h4></a>
    </div>
    <div class="bubble-sm" title="logout">
        <a href="/logout"><h4 class="text-center"><i class="bi bi-box-arrow-right"></i></h4></a>
    </div>
</div>
<div class="wrapper-cover"></div>